@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

/* GLOBAL */

:root {
    --intro-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testmonial-bg: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --red-error: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
    --light-slate: #ccd6f6;
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-variant: 400;
    font-size: 14px;
    box-shadow: border-box;
    scroll-behavior: smooth;
    background: var(--main-bg);
    color: var(--white);
}

h2,
h3,
nav,
.cta {
    font-family: "Ralewey", sans-serif;
    font-weight: 700;
}

ul,
li {
    list-style: none;
}

a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
}

h2 {
    font-size: 40px;
}

main {
    position: relative;
    padding-bottom: 200px;
}

/* NAV */

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    background: var(--intro-bg);
}

.fylo-logo img {
    width: 80%;
    height: 80%;
}

.nav-items {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
}

.nav-items li a {
    font-family: "Open Sans", sans-serif;
    color: var(--light-slate);
}

.nav-items :not(:last-child) {
    padding-right: 56px;
}

/* HERO */

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: var(--intro-bg) url("/images/bg-curvy-desktop.svg") bottom no-repeat;
    background-size: 100% 270px;
    text-align: center;
}

.hero img {
    width: 50%;
    height: 50%;
}

.hero h2 {
    width: 60%;
    margin: 46px;
    font-size: 34px;
}

.hero p {
    width: 45%;
    font-size: 18px;
    padding: 0 30px;
}

.cta {
    color: var(--white);
    width: 280px;
    padding: 20px 0;
    border-radius: 50px;
    margin: 30px 0;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    border: none; 
}

/* FEATURES */

.features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 94px 150px;
    margin: 130px 0;
    padding: 0 180px;
}

.feature {
    text-align: center;
}

.feature h3 {
    margin: 25px 0 18px 0;
    font-size: 18px;
}


/* PRODUCTIVE */

.productive {
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.img-box img {
    height: 460px;
    width: auto;
    margin-right: 45px;
}

.text-box :not(:last-child) {
    margin-bottom: 25px;  
}

.text-box p {
    width: 90%;
}

.description-cta {
    justify-content: space-around;
    color: var(--cyan);
    border-bottom: 1px solid var(--cyan);
}

.description-cta img {
    vertical-align: middle;
    margin-left: 3px;
  }

/* TESTMONIALS */
.testmonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 140px;
    justify-content: center;
}

.testmonial {
    background: var(--testmonial-bg);
    width: 315px;
    padding: 30px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 1rem rgba(51, 51, 51, 0.3);
}

.testmonial:first-child::before {
    content: url("/images/bg-quotes.png");
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}

.quote {
    margin-bottom: 25px;
    color: var(--light-slate);
}

.profile {
    display: flex;
}

.profile img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile-info h3 {
    font-size: 12px;
}

.profile-info p {
    font-size: 10px;
}

/* ACCESS */

.access {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: var(--intro-bg);
    padding: 50px 74px 40px 74px;
    border-radius: 5px;
    bottom: -120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

.access h2{
    margin-bottom: 30px;
}

.access p {
    width: 90%;
    text-align: center;
    margin-bottom: 36px; 
}

form {
    display: flex;
    align-content: center;
}

input[type="email"] {
    width: 480px;
    height: 48px;
    border-radius: 50px;
    padding: 20px 47px;
    outline: none;
    border: none;
    margin-right: 20px;
    font-size: 16px;
}

input[type="submit"] {
    width: 200px;
    height: 48px;
    color: var(--white);
    margin: 0;
}

::placeholder {
    opacity: 0.4;
  }

/* FOOTER  */

.footer {
    background: var(--footer-bg);
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo logo logo logo logo"
    "location contact links more-links social";
    column-gap: 70px;
    padding-top: 20%;
    padding-bottom: 5rem;
}    

.footer-logo {
    grid-area: logo;
    margin-left: 80px;
    width: 178px;
    height: 54px;
}

.location{
    grid-area: location;
    display: flex;
    padding: 10%;
    margin-left: 10%;
}

.location-icon {
    margin-top: 0.5rem;
}

.contact {
    grid-area: contact;
    padding: 10%;
    margin-top: 10%;
}

.phone,
.email {
    display: flex;
    margin-bottom: 20%;
}

.phone-icon,
.email-icon {
    width: 16px;
    height: 16px;
}

.location-text,
.phone-number,
.email-address {
    margin-left: 10%;
}

.fn-links {
    grid-area: links;
    display: grid;
    margin-top: 35%;
}

.fn-links a {
    margin-bottom: 20%;
}

.fn-more-links {
    grid-area: more-links;
    display: grid;
    grid-template-rows: repeat(3, 25%);
    margin-top: 35%;
}

.social-media {
    grid-area: social;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    margin-top: 35%;
}  

.social-media i {
    font-size: 18px;
}